#modal .form-title {
    background-color: rgb(134, 208, 247);
    color: rgb(10, 88, 163) !important;
    font-weight: lighter !important;
    text-align: center;
    padding: 24px 2px;
}
#modal .form-title strong {
    font-weight: bold !important;
}
#modal .cta .column {
    padding-top: 0 !important;
    padding-left: 0 !important;
}
#modal .inputs-container {
    padding: 20px 7%;
}
#modal .field-label {
    text-align: center !important;
    background-color: rgb(134, 208, 247);
    margin-right: 0 !important;
    margin-left: 20px;
}
#modal .input, .select select, textarea {
    border-radius: 0 !important;
    border-bottom-right-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
#modal .label {
    color: rgb(10, 88, 163) !important;
    text-transform: uppercase;
    padding-top: 8px;
}
#modal .image.logo-subtitle {
    display: inline-block !important;
}
#modal .form-subtitle {
    display: inline-block !important;
    color: rgb(134, 208, 247);
}
#modal .form-subtitle span {
    font-size: 18px;
}
#modal .field-body {
    flex-grow: 4 !important;
}
#modal .two-per-row .field-body {
    flex-grow: 1.5 !important;
}
#modal .checkbox {
    margin-left: 20px;
}
#modal .checkbox input {
    margin-right: 5px;
}
#modal .checkbox a {
    color: rgb(134, 208, 247);
}
#modal .form-button {
    background-color: #fff !important;
    color: rgb(10, 88, 163) !important;
    text-decoration: none !important;
    border-radius: 14px !important;
}
#modal .form-button:hover {
    background-color: rgb(134, 208, 247) !important;
}
@media (max-width: 768px) {
    #modal .checkbox {
        margin-left: 0;
    }
    #modal .field-label {
        margin-left: 0;
        margin-top: 20px;
    }
    #modal .input, .select select, textarea {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}